/* GENERAL start */
* {
	margin: 0;
	padding: 0;
	position: relative;
	font-family: 'Raleway', sans-serif;
}

body {
    background: #ffffff;
    background: -moz-linear-gradient(-45deg, #ffffff 0%, #f2f2f2 100%);
    background: -webkit-linear-gradient(-45deg, #ffffff 0%, #f2f2f2 100%);
    background: linear-gradient(135deg, #ffffff 0%, #f2f2f2 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f2f2f2', GradientType=1);
}

.clearFix {
	content: "";
	display: table;
	clear: both;
}

h1 {
	font-weight: bold;
	font-size: 42px;
}

.container {
	margin: 0 auto;
	max-width: 960px;
	width: calc(100% - 40px);
	background-color: red;
	padding: 20px 0;
}
/* GENERAL end */

/* HEADER start */
/* NAVIGATION start */
nav {
	width: 100%;
	text-align: center;
	padding: 0 40px;
	box-sizing: border-box;
	z-index: 3;
	position: absolute;
	top: 0;
	left: 0;
}

nav .logo {
	float: left;
	width: 100px;
	margin: 19px 0;
}

nav .logo img {
	width: 100%;
}

nav ul {
	float: right;
	vertical-align: top;
}

nav ul li {
	list-style-type: none;
	height: 24px;
	display: inline;
}

nav ul li a {
	color: #fff;
	font-size: 16px;
	text-decoration: none;
	padding: 25px 15px;
	margin: 0 5px;
	display: inline-block;
}

nav ul li a::after {
	content: "";
    width: 0%;
    height: 2px;
    background: white;
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    transition: all 0.2s;
}

nav ul li a:hover::after {
    width: 50%;
}
/* NAVIGATION end */
header {
	width: 100%;
	min-height: 250px;
	height: 50vh;
	background-image: url(../images/header.jpg);
	background-size: cover;
	overflow: hidden;
}

header.home {
	width: 100%;
	min-height: 500px;
	height: 100vh;
	background-image: url(../images/header.jpg);
	background-size: cover;
	overflow: hidden;
}

.headerGradient {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;

	background: -moz-linear-gradient(top, rgba(156,39,176,1) 0%, rgba(156,39,176,0.94) 24%, rgba(156,39,176,0.75) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, rgba(156,39,176,1) 0%,rgba(156,39,176,0.94) 24%,rgba(156,39,176,0.75) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, rgba(156,39,176,1) 0%,rgba(156,39,176,0.94) 24%,rgba(156,39,176,0.75) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9c27b0', endColorstr='#bf9c27b0',GradientType=0 ); /* IE6-9 */
}

.headerGradient.blauw {
	background: -moz-linear-gradient(top, rgba(30,87,153,1) 0%, rgba(30,87,153,0.94) 24%, rgba(30,87,153,0.75) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, rgba(30,87,153,1) 0%,rgba(30,87,153,0.94) 24%,rgba(30,87,153,0.75) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, rgba(30,87,153,1) 0%,rgba(30,87,153,0.94) 24%,rgba(30,87,153,0.75) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#bf1e5799',GradientType=0 ); /* IE6-9 */
}

#headerContent {
    margin: 0 auto;
    width: 500px;
    text-align: center;
    color: white;
    position: absolute;
    left: 50%;
    top: 48%;
    transform: translate(-50%, -50%);
    z-index: 3;
}

#headerContent p {
	margin-top: 10px;
}

.btn {
	display: inline-block;
    padding: 10px 20px;
    background-color: #62A7DB;
    margin-top: 20px;
    text-decoration: none;
    color: #fff;
}

#diagonal {
    width: 350px;
    height: 200%;
    position: absolute;
    z-index: 2;
    background: white;
    opacity: .25;
    right: 0;
    top: 50%;
    transform: translateY(-50%) rotate(30deg);
}
/* HEADER end */

/* GRIDSECTION start */

/* GRIDSECTION end */